{# templates/pdf/pdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle de Actividad</title>
</head>
<body>
    {% if imagenCodificada is defined %}
        <img src="data:image/png;base64,{{ imagenCodificada }}" alt="Logo">
    {% endif %}
    <h1>Detalle de la Actividad</h1>
    <p><strong>Descripción:</strong> {{ actividad.descripcion }}</p>
    <p>La actividad empezará el {{ actividad.fechaHoraIni|date('d-m-Y H:i') }} y termina el {{ actividad.fechaHoraFin|date('d-m-Y H:i') }}</p>
</body>
</html>
